<!doctype html>
<html>
<head>
<title>comics sans comic sans</title>
<link rel="stylesheet" type="text/css" href="style.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="scripts.js" type="text/javascript"></script>
<link rel="shortcut icon" href="assets/bill_icon.png" />
</head>
<body>
<header>
<div id="title">
    <div id="comic_-1">
        <span id="page_title">comics sans comic sans</span>
    </div>
    <span id="logo"><img alt="ack" src="assets/bill.png"/></span>
</div>
</header>
{{range $i, $series := .}} 
<div class="comic" id="comic_{{$i}}">
    <div class="outline">
        <div class="header" id="header_{{$i}}">
            <h1><a href="{{$series.SiteUrl}}">{{.SeriesTitle}}</a></h1>
            <h2>{{.Description}}</h2>
            <div class="nav">
                <a href="#comic_{{incr $i}}">&#9660;</a>
                <a href="#comic_{{$i}}" class="prev" id="{{$i}}">&#9664;</a>
                <a href="#comic_{{$i}}" class="next" id="{{$i}}">&#x25BA;</a>
                <a href="#comic_{{decr $i}}">&#9650;</a>
            </div>
        </div>
    </div>
    {{range $j, $comic := $series.Comics}} {{if not $j}}<p class="datetime" id="date_{{$i}}">{{$comic.PubMsg}} {{$comic.Date}}</p>
    <h3 id="title_{{$i}}">{{$comic.Title}}</h3>
    <div class="image" id="image_{{$i}}">
        <a href="{{$comic.Link}}" id="link_{{$i}}">
            <img class="image_file" 
                id="img_{{$i}}" 
                alt="{{$comic.ImageComment}}" 
                src="{{$comic.ImageUrl}}" />
        </a>
    </div> <!--/image-->
    <p class="comment" id="comment_{{$i}}">{{$comic.ImageComment}}</p> {{end}} {{end}}
</div> <!--/comic--> {{end}} 
</body>
</html>
